body {
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  align-items: center;
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
h2{
  color: #ffffff;
}

.objdef {
  background-color: #9e9e9e83;
  padding: 3px;
  border-radius: 5px;
  margin: 10px;
  color: #ffffff;
  width: fit-content;
  text-align: center;
  height: fit-content;
}
.objdefbig {
  background-color: #9e9e9e83;
  padding: 3px;
  border-radius: 5px;
  margin: 20px;
  color: #ffffff;
  width: fit-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

#navbar {
  background-color: #52525269;
  padding: 10px;
  border-radius: 5px;

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
